USE [master]
GO
/****** Object:  Database [WebXemPhim]    Script Date: 6/2/2024 2:41:11 PM ******/
CREATE DATABASE [WebXemPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebXemPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebXemPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebXemPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebXemPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebXemPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebXemPhim]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/2/2024 2:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonDichVuId] [int] NOT NULL,
	[DichVuId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaApDung] [int] NOT NULL,
	[TongGia] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVus]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChucVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaDichVus]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaDichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[DichVuId] [int] NOT NULL,
	[KhachHangId] [int] NOT NULL,
 CONSTRAINT [PK_DanhGiaDichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaPhims]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaPhims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoDiemCham] [int] NOT NULL,
	[PhimId] [int] NOT NULL,
	[KhachHangId] [int] NOT NULL,
 CONSTRAINT [PK_DanhGiaPhims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaoDiens]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaoDiens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[NgaySinh] [datetime2](7) NOT NULL,
	[QuocTich] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DaoDiens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVus]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](max) NOT NULL,
	[LoaiDichVuId] [int] NOT NULL,
	[Gia] [int] NOT NULL,
 CONSTRAINT [PK_DichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaVes]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaVes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Gia] [int] NOT NULL,
	[PhongPhimId] [int] NOT NULL,
 CONSTRAINT [PK_GiaVes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSanXuats]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenHangSanXuat] [nvarchar](max) NOT NULL,
	[MoTaHangSanXuat] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HangSanXuats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDichVus]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
	[TongThanhToan] [int] NOT NULL,
	[NhanVienId] [int] NOT NULL,
	[KhuyenMaiDichVuId] [int] NOT NULL,
	[KhachHangId] [int] NOT NULL,
	[VePhimId] [int] NOT NULL,
 CONSTRAINT [PK_HoaDonDichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[NgaySinh] [datetime2](7) NOT NULL,
	[GioiTinh] [nvarchar](max) NOT NULL,
	[LoaiThanhVienId] [int] NOT NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMaiDichVus]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMaiDichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MieuTa] [nvarchar](max) NOT NULL,
	[PhanTramGiam] [int] NOT NULL,
	[Han] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_KhuyenMaiDichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMaiGiaVes]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMaiGiaVes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MieuTa] [nvarchar](max) NOT NULL,
	[PhanTramGiam] [int] NOT NULL,
	[Han] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_KhuyenMaiGiaVes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVus]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiDichVu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoaiDichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhongs]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhongs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoaiPhongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiThanhViens]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThanhViens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiThanhVien] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoaiThanhViens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[NgaySinh] [datetime2](7) NOT NULL,
	[GioiTinh] [nvarchar](max) NOT NULL,
	[CaLam] [int] NOT NULL,
	[Luong] [int] NOT NULL,
	[ChucVuId] [int] NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phims]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](max) NOT NULL,
	[TheLoaiPhimId] [int] NOT NULL,
	[HangSanXuatId] [int] NOT NULL,
	[DaoDienId] [int] NOT NULL,
	[NamSanXuat] [int] NOT NULL,
 CONSTRAINT [PK_Phims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongPhims]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongPhims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [int] NOT NULL,
	[SoLuongKhachChua] [int] NOT NULL,
	[LoaiPhongId] [int] NOT NULL,
 CONSTRAINT [PK_PhongPhims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoaiPhims]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoaiPhims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoaiPhim] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TheLoaiPhims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VePhims]    Script Date: 6/2/2024 2:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VePhims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime2](7) NOT NULL,
	[PhongPhimId] [int] NOT NULL,
	[KhuyenMaiGiaVeId] [int] NOT NULL,
	[SoChoNgoi] [int] NOT NULL,
	[TongThanhToan] [int] NOT NULL,
	[PhimId] [int] NOT NULL,
 CONSTRAINT [PK_VePhims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240531182937_InitDBv1', N'6.0.31')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240601111610_InitDBv2', N'6.0.31')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240601112322_InitDBv3', N'6.0.31')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0da1b605-1aa4-4ffc-8768-aa699404d035', N'User', NULL, NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'27835c39-bc94-40de-ad65-e7c95f79222a', N'Admin', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DaoDiens] ON 

INSERT [dbo].[DaoDiens] ([Id], [HoTen], [NgaySinh], [QuocTich], [MoTa]) VALUES (1, N'Nguyen Van A', CAST(N'2003-02-13T00:00:00.0000000' AS DateTime2), N'VietName', N'Khong')
SET IDENTITY_INSERT [dbo].[DaoDiens] OFF
GO
SET IDENTITY_INSERT [dbo].[HangSanXuats] ON 

INSERT [dbo].[HangSanXuats] ([Id], [TenHangSanXuat], [MoTaHangSanXuat]) VALUES (1, N'Mavel', N'Khong co')
SET IDENTITY_INSERT [dbo].[HangSanXuats] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMaiGiaVes] ON 

INSERT [dbo].[KhuyenMaiGiaVes] ([Id], [MieuTa], [PhanTramGiam], [Han]) VALUES (1, N'SinhVien', 5, CAST(N'2024-04-04T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[KhuyenMaiGiaVes] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhongs] ON 

INSERT [dbo].[LoaiPhongs] ([Id], [TenLoaiPhong]) VALUES (1, N'Vip')
INSERT [dbo].[LoaiPhongs] ([Id], [TenLoaiPhong]) VALUES (2, N'Thuong')
SET IDENTITY_INSERT [dbo].[LoaiPhongs] OFF
GO
SET IDENTITY_INSERT [dbo].[Phims] ON 

INSERT [dbo].[Phims] ([Id], [TenPhim], [TheLoaiPhimId], [HangSanXuatId], [DaoDienId], [NamSanXuat]) VALUES (1, N'Doraemon', 1, 1, 1, 2024)
SET IDENTITY_INSERT [dbo].[Phims] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongPhims] ON 

INSERT [dbo].[PhongPhims] ([Id], [SoPhong], [SoLuongKhachChua], [LoaiPhongId]) VALUES (1, 1, 20, 1)
SET IDENTITY_INSERT [dbo].[PhongPhims] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoaiPhims] ON 

INSERT [dbo].[TheLoaiPhims] ([Id], [TenTheLoaiPhim]) VALUES (1, N'Kinh dị')
SET IDENTITY_INSERT [dbo].[TheLoaiPhims] OFF
GO
SET IDENTITY_INSERT [dbo].[VePhims] ON 

INSERT [dbo].[VePhims] ([Id], [ThoiGian], [PhongPhimId], [KhuyenMaiGiaVeId], [SoChoNgoi], [TongThanhToan], [PhimId]) VALUES (1, CAST(N'2024-04-01T00:00:00.0000000' AS DateTime2), 1, 1, 30, 8000, 1)
SET IDENTITY_INSERT [dbo].[VePhims] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDons_DichVuId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDons_DichVuId] ON [dbo].[ChiTietHoaDons]
(
	[DichVuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDons_HoaDonDichVuId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDons_HoaDonDichVuId] ON [dbo].[ChiTietHoaDons]
(
	[HoaDonDichVuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGiaDichVus_DichVuId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaDichVus_DichVuId] ON [dbo].[DanhGiaDichVus]
(
	[DichVuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGiaDichVus_KhachHangId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaDichVus_KhachHangId] ON [dbo].[DanhGiaDichVus]
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGiaPhims_KhachHangId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaPhims_KhachHangId] ON [dbo].[DanhGiaPhims]
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGiaPhims_PhimId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaPhims_PhimId] ON [dbo].[DanhGiaPhims]
(
	[PhimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DichVus_LoaiDichVuId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_DichVus_LoaiDichVuId] ON [dbo].[DichVus]
(
	[LoaiDichVuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiaVes_PhongPhimId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_GiaVes_PhongPhimId] ON [dbo].[GiaVes]
(
	[PhongPhimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDonDichVus_KhachHangId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonDichVus_KhachHangId] ON [dbo].[HoaDonDichVus]
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDonDichVus_KhuyenMaiDichVuId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonDichVus_KhuyenMaiDichVuId] ON [dbo].[HoaDonDichVus]
(
	[KhuyenMaiDichVuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDonDichVus_NhanVienId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonDichVus_NhanVienId] ON [dbo].[HoaDonDichVus]
(
	[NhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDonDichVus_VePhimId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonDichVus_VePhimId] ON [dbo].[HoaDonDichVus]
(
	[VePhimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhachHangs_LoaiThanhVienId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_KhachHangs_LoaiThanhVienId] ON [dbo].[KhachHangs]
(
	[LoaiThanhVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanViens_ChucVuId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanViens_ChucVuId] ON [dbo].[NhanViens]
(
	[ChucVuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phims_DaoDienId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phims_DaoDienId] ON [dbo].[Phims]
(
	[DaoDienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phims_HangSanXuatId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phims_HangSanXuatId] ON [dbo].[Phims]
(
	[HangSanXuatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phims_TheLoaiPhimId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phims_TheLoaiPhimId] ON [dbo].[Phims]
(
	[TheLoaiPhimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhongPhims_LoaiPhongId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhongPhims_LoaiPhongId] ON [dbo].[PhongPhims]
(
	[LoaiPhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VePhims_KhuyenMaiGiaVeId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_VePhims_KhuyenMaiGiaVeId] ON [dbo].[VePhims]
(
	[KhuyenMaiGiaVeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VePhims_PhimId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_VePhims_PhimId] ON [dbo].[VePhims]
(
	[PhimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VePhims_PhongPhimId]    Script Date: 6/2/2024 2:41:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_VePhims_PhongPhimId] ON [dbo].[VePhims]
(
	[PhongPhimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDonDichVus] ADD  DEFAULT ((0)) FOR [VePhimId]
GO
ALTER TABLE [dbo].[VePhims] ADD  DEFAULT ((0)) FOR [PhimId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_DichVus_DichVuId] FOREIGN KEY([DichVuId])
REFERENCES [dbo].[DichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_DichVus_DichVuId]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_HoaDonDichVus_HoaDonDichVuId] FOREIGN KEY([HoaDonDichVuId])
REFERENCES [dbo].[HoaDonDichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_HoaDonDichVus_HoaDonDichVuId]
GO
ALTER TABLE [dbo].[DanhGiaDichVus]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaDichVus_DichVus_DichVuId] FOREIGN KEY([DichVuId])
REFERENCES [dbo].[DichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaDichVus] CHECK CONSTRAINT [FK_DanhGiaDichVus_DichVus_DichVuId]
GO
ALTER TABLE [dbo].[DanhGiaDichVus]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaDichVus_KhachHangs_KhachHangId] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHangs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaDichVus] CHECK CONSTRAINT [FK_DanhGiaDichVus_KhachHangs_KhachHangId]
GO
ALTER TABLE [dbo].[DanhGiaPhims]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaPhims_KhachHangs_KhachHangId] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHangs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaPhims] CHECK CONSTRAINT [FK_DanhGiaPhims_KhachHangs_KhachHangId]
GO
ALTER TABLE [dbo].[DanhGiaPhims]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaPhims_Phims_PhimId] FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaPhims] CHECK CONSTRAINT [FK_DanhGiaPhims_Phims_PhimId]
GO
ALTER TABLE [dbo].[DichVus]  WITH CHECK ADD  CONSTRAINT [FK_DichVus_LoaiDichVus_LoaiDichVuId] FOREIGN KEY([LoaiDichVuId])
REFERENCES [dbo].[LoaiDichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVus] CHECK CONSTRAINT [FK_DichVus_LoaiDichVus_LoaiDichVuId]
GO
ALTER TABLE [dbo].[GiaVes]  WITH CHECK ADD  CONSTRAINT [FK_GiaVes_PhongPhims_PhongPhimId] FOREIGN KEY([PhongPhimId])
REFERENCES [dbo].[PhongPhims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaVes] CHECK CONSTRAINT [FK_GiaVes_PhongPhims_PhongPhimId]
GO
ALTER TABLE [dbo].[HoaDonDichVus]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDichVus_KhachHangs_KhachHangId] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHangs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonDichVus] CHECK CONSTRAINT [FK_HoaDonDichVus_KhachHangs_KhachHangId]
GO
ALTER TABLE [dbo].[HoaDonDichVus]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDichVus_KhuyenMaiDichVus_KhuyenMaiDichVuId] FOREIGN KEY([KhuyenMaiDichVuId])
REFERENCES [dbo].[KhuyenMaiDichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonDichVus] CHECK CONSTRAINT [FK_HoaDonDichVus_KhuyenMaiDichVus_KhuyenMaiDichVuId]
GO
ALTER TABLE [dbo].[HoaDonDichVus]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDichVus_NhanViens_NhanVienId] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanViens] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonDichVus] CHECK CONSTRAINT [FK_HoaDonDichVus_NhanViens_NhanVienId]
GO
ALTER TABLE [dbo].[HoaDonDichVus]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDichVus_VePhims_VePhimId] FOREIGN KEY([VePhimId])
REFERENCES [dbo].[VePhims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonDichVus] CHECK CONSTRAINT [FK_HoaDonDichVus_VePhims_VePhimId]
GO
ALTER TABLE [dbo].[KhachHangs]  WITH CHECK ADD  CONSTRAINT [FK_KhachHangs_LoaiThanhViens_LoaiThanhVienId] FOREIGN KEY([LoaiThanhVienId])
REFERENCES [dbo].[LoaiThanhViens] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHangs] CHECK CONSTRAINT [FK_KhachHangs_LoaiThanhViens_LoaiThanhVienId]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanViens_ChucVus_ChucVuId] FOREIGN KEY([ChucVuId])
REFERENCES [dbo].[ChucVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanViens_ChucVus_ChucVuId]
GO
ALTER TABLE [dbo].[Phims]  WITH CHECK ADD  CONSTRAINT [FK_Phims_DaoDiens_DaoDienId] FOREIGN KEY([DaoDienId])
REFERENCES [dbo].[DaoDiens] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phims] CHECK CONSTRAINT [FK_Phims_DaoDiens_DaoDienId]
GO
ALTER TABLE [dbo].[Phims]  WITH CHECK ADD  CONSTRAINT [FK_Phims_HangSanXuats_HangSanXuatId] FOREIGN KEY([HangSanXuatId])
REFERENCES [dbo].[HangSanXuats] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phims] CHECK CONSTRAINT [FK_Phims_HangSanXuats_HangSanXuatId]
GO
ALTER TABLE [dbo].[Phims]  WITH CHECK ADD  CONSTRAINT [FK_Phims_TheLoaiPhims_TheLoaiPhimId] FOREIGN KEY([TheLoaiPhimId])
REFERENCES [dbo].[TheLoaiPhims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phims] CHECK CONSTRAINT [FK_Phims_TheLoaiPhims_TheLoaiPhimId]
GO
ALTER TABLE [dbo].[PhongPhims]  WITH CHECK ADD  CONSTRAINT [FK_PhongPhims_LoaiPhongs_LoaiPhongId] FOREIGN KEY([LoaiPhongId])
REFERENCES [dbo].[LoaiPhongs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhongPhims] CHECK CONSTRAINT [FK_PhongPhims_LoaiPhongs_LoaiPhongId]
GO
ALTER TABLE [dbo].[VePhims]  WITH CHECK ADD  CONSTRAINT [FK_VePhims_KhuyenMaiGiaVes_KhuyenMaiGiaVeId] FOREIGN KEY([KhuyenMaiGiaVeId])
REFERENCES [dbo].[KhuyenMaiGiaVes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VePhims] CHECK CONSTRAINT [FK_VePhims_KhuyenMaiGiaVes_KhuyenMaiGiaVeId]
GO
ALTER TABLE [dbo].[VePhims]  WITH CHECK ADD  CONSTRAINT [FK_VePhims_Phims_PhimId] FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VePhims] CHECK CONSTRAINT [FK_VePhims_Phims_PhimId]
GO
ALTER TABLE [dbo].[VePhims]  WITH CHECK ADD  CONSTRAINT [FK_VePhims_PhongPhims_PhongPhimId] FOREIGN KEY([PhongPhimId])
REFERENCES [dbo].[PhongPhims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VePhims] CHECK CONSTRAINT [FK_VePhims_PhongPhims_PhongPhimId]
GO
USE [master]
GO
